
.idea
/venv
*.exe

/INU code festival 2019/
/Kakao winter internship coding test 2019/
/2021_LINE_PLUS_RECRUITMENT_CODING_TEST/
/2021_KAKAO_BLIND_RECRUITMENT/
/2020 Naver New Developer Open Hiring/
/2020 Coupang Tech Campus Recruiting Coding Test/
/Programmers - Dev-Matching - Backend Developer Coding Test/
/woowahan-tech-course_1st_coding_test/
/Programmers/Skill check test/
